.error_wrapper {
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    font-size: 17px;
    text-align: center;
    padding: 12px 0;
    border-radius: 7px;
    margin-bottom: 15px;
    width: 100%;
}
