.wrapper {
  color: #2b2192;
  font-size: 21px;
  font-weight: 500;
  padding: 16px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;

  i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
  }
}
